@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #373B44;
    --secondary-color: #4286f4;
}

body {
    font-family: 'Cairo', sans-serif;
    line-height: 1.6;
    color: var(--primary-color);
}

/*    Utilities   */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.lg {
    font-size: 3rem;
}

/*   Navbar   */

.site-logo h1 a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 300;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
}

.nav-links ul li a  {
    text-decoration: none;
    color: var(--primary-color);
    padding: 1rem;
    display: block;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hamburger {
    color: var(--primary-color);
    display: none;
}

/*   Showcase   */

.showcase {
    height: 500px;
    background: linear-gradient(to right, rgba(66, 134, 244, 0.6),rgba(55, 59, 68, 0.5)),
    url("../images/showcaseimg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.showcase .flex {
    flex-direction: column;
    align-items: flex-start;
}

.showcase h2, p {
    color: #fff;
    font-weight: 300;
}





/* Media Queries */

/** Mobile **/
@media (max-width: 600px){
    .navbar .container {
        flex-direction: column;
        padding: 0;
    }

    .nav-links {
        width: 100%;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

    .item {
        display: none;
        width: 100%;
    }

    .hamburger{
        position: absolute;
        display: block;
        top: .75rem;
        right: 1rem;
    }

    .active {
        display: block;
    }
} 
